body{
    border:solid 5px rgb(0, 0, 0);
    border-radius: 30px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
}
h1{
    color: rgb(0, 255, 0);
    font-family: 'Ceviche One', cursive;

}
p{
    font-style: Arial;
    color:rgb(0, 255, 0);
}
.impostos{
    display: flex;
    width: 60%;
    flex-direction: column;
}
.tamanho{
    font-size: 20px;
}
